
/* Your CSS Code here. */
.holder
{
    display: flex;
    flex-wrap: wrap;
	justify-content:space-evenly;
    
    
}
.box
{
    
    width: 100px;
    height: 100px;
    display: flex;
   
    align-items: center;
    justify-content: center;
    
   

}
